.setupGuideContainer{
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-top: 16px;
  padding: 16px;
  border-radius: 18px;
  background-color: #ffffff;
  color: #303030;
}
.headerFrame{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  position: relative;
}
.arrowBtn{
  border: none;
  background-color: #ffffff;
}
.arrowIcon{
  font-size: 1rem;
}
.headerFrameOne{
  display: flex;
  flex-direction: column;
  gap: .2rem;
}
.headerFrameOne .title{
  font-size: 14px;
  font-weight: 600;
  line-height: 19.6px;
}
.headerFrameOne p{
  font-size: 13px;
  font-weight: 400;
  line-height: 18.2px;
}
.headerFrameTwo{
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin-top: 15px;
}
.headerFrameTwo p{
  font-size: 12px;
  font-weight: 400;
  line-height: 15.6px;
}
.setUpInfo{
  margin-top: 1.5rem;
}
@media screen and (max-width: 820px) {
  .setupGuideContainer {
    width: 100%;
  }
}