header {
  position: fixed;
  background-color:#1A1A1A;
  width: 100%;
  padding: 10px;
}
.navlayout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.3rem;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .3rem;
}
.logoImg{
  width: 30px;
}
.textLogo{
  letter-spacing: 1.5px;
  font-size: 23px;
  color: #fff;
}
 input{
  position: relative;
  padding-left: 29px;
  padding-right: 190px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: none;
  border-radius: .5rem;
  outline: none;
  background-color: #303030;
  border: 1px solid #616161;
}
::placeholder{
  color: #B5B5B5;
}
.searchIcon{
  position: absolute;
  top: 1.2rem;
  right:  60.35rem;
  bottom: 0;
  color: #B5B5B5;
  z-index: 999;
}
.bell{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.bellDavii{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .6rem;
}
.bell{
  border: none;
  border-radius: 8px;
  color: #fff;
  padding: 9px;
  background:#303030;
}
.davii {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 2px;
  gap: .5rem;
  background:#303030;
  border-radius: 8px;

}
.davii p{
  font-size: 12px;
  color: #ffff;
}
.davii button{
  border: none;
  padding: 3px;
  border-radius: 6px;
  background-color: #36FBA1;
}
@media screen and (max-width: 540px) {
  .textLogo{
  display: none;
}
.davii p{
  display: none;
}
 input{
  width: 100%;
}
.davii {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 2px;
}
.bell{
  background: none;
}
.davii{
  background: none;
}
}
@media screen and (max-width: 360px) {
 input{
  width: 100%;
}
.bell{
  display: none;
  background: none;
}
}
@media screen and (max-width: 320px) {
 input{
  width: 100%;
}
.bell{
  display: none;
  background: none;
}
}