header {
  max-width: 1600px;
  width: 100%;
  background-color: #1a1a1a;
  padding: 15px ;
}
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: .5rem; */
}
.logo {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.input {
  position: relative;
}
input {
  position: relative;
  padding: 7px 190px 7px 30px;
  border: none;
  border-radius: 8px;
  background-color: #303030;
}
.searchIcon {
  position: absolute;
  top: 0.4rem;
  left: 0.6rem;
  color: #b5b5b5;
  z-index: 999;
}
::placeholder {
  color: #b5b5b5;
}
/* notification stayle beging */
.notificationAndStore {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.bell {
  font-size: 15px;
}
.notificationBtn {
  padding: 5.7px;
  border-radius: 8px;
  border: none;
  color: #ffff;
  background-color: #303030;
  cursor: pointer;
}
.notificationBtn:hover {
  background-color: #616161;
}
.notificationBtn:focus {
  border: 2px solid #005bd3;
}
.notificationPop {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 16px;
  top: 75px;
  right: 15px;
  border: 1px solid #dbdbdb;
  z-index: 10;
  border-radius: 14px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  transition: 0.3s ease;
}
.alert {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filterAndCircleTick {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.filter {
  font-size: 20px;
}
.circleCheck {
  font-size: 20px;
}
.circleCheck:active {
  width: 20px;
  border-radius: 4px;
  border: 1px solid #005bd3;
}
.alertMessage {
  padding: 16px;
  background-color: #f1f1f1;
  text-align: center;
}
/* notification stayle ends */

.store button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 3px;
  border-radius: 8px;
  border: none;
  color: #ffff;
  background-color: #303030;
  cursor: pointer;
}
.store h3 {
  font-size: 12px;
  color: #e3e3e3;
}
.store button:hover {
  background-color: #616161;
}
.store button:focus {
  border: 2px solid #005bd3;
}
.store button span {
  padding: 5.5px;
  background-color: #36fba1;
  border-radius: 6px;
}
.storePop {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 13px;
  top: 75px;
  right: 15px;
  border: 1px solid #dbdbdb;
  z-index: 10;
  border-radius: 14px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  transition: 0.3s ease;
}
.header .storeBtn {
  display: flex;
  padding: 7px 190px 5px 10px;
  background-color: #f1f1f1;
}
.header .storeBtn:hover {
  color: #ffff;
  background-color: #303030;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.header h3 {
  font-size: 13px;
  color: #303030;
}
.allStores {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.allStores img {
  width: 25px;
}
.allStores h3 {
  font-size: 13px;
  color: #303030;
}
hr {
  width: 100%;
}
.collection li {
  padding: 10px 0px;
}
.account li {
  padding: 10px 0px;
}
.account li:first-child {
  display: flex;
  flex-direction: column;
}
.account li:first-child span {
  font-size: 12px;
  color: #616161;
}
@media screen and (max-width: 540px) {
  .logoDesktop {
    display: none;
  }
  input {
    /* width: 100%; */
    padding: 7px 50px 7px 30px;
  }
  .store button h3 {
    display: none;
  }
  .notificationBtn {
  background-color: #1a1a1a;
}
.notificationBtn:hover {
  background-color: #1a1a1a;
}
.notificationBtn:focus {
  border: none;
}
/* .bell {
  font-size: 13px;
} */
}
@media screen and (max-width: 360px) {
  .logoDesktop {
    display: none;
  }
  input {
    /* width: 100%; */
    padding: 7px 20px 7px 30px;
  }
  .store button h3 {
    display: none;
  }
  .notificationBtn {
  background-color: #1a1a1a;
}
.notificationBtn:hover {
  background-color: #1a1a1a;
}
.notificationBtn:focus {
  border: none;
}
/* .bell {
  font-size: 13px;
} */
}
@media screen and (max-width: 280px) {
  input {
    width: 100%;
    padding: 7px 10px 7px 30px;
  }
}