.setUp {
  display: flex;
  justify-content: space-between;
  padding: .5rem 0;
}
.left {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* gap: 0.6rem; */
}
.title {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.title h4 {
  cursor: pointer;
  padding-bottom: 0.5rem;
  font-weight: 600;
  font-size: 13px;
  line-height: 18.2px;
}
.btn{
  padding-top: 0.6rem;
  padding-left: 2rem;
}
.detail{
  display: flex;
  flex-direction: column;
}
.detail p {
  width: 483.86px;
  padding-left: 2rem;
  font-weight: 500;
  font-size: 13px;
  line-height: 18.2px;
}
.detail a {
  color: blue;
  text-decoration: underline;
  font-weight: 500;
  font-size: 14px;
  line-height: 19.2px;
}
@media screen and (max-width: 580px) {
  .detail p{
    width: 300.86px;
  }
  .right{
    display: none;
  }
}