*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffff;
}
a{
  text-decoration: none;
  color: #000000;
}
li{
  list-style: none;
}